---
import emily from '../assets/emily.png';
import jecka from '../assets/jecka.png';
---

<title>Merry Corps [FR]</title>
<meta charset="UTF-8" />
<div id="container">
	<main>
		<section id="yes">
			<h1>
				Bienvenue à Merry Corps!!!!
			</h1>
			<h3> par OfficiallyIta </h3>
			<h2> Quel est ce site? </h2>
			<pre>
Maintenant, ce n'est pas grand chose.
Le domain est principalement utilisé
pour mon serveur Minecraft.
			</pre>
				<div class="image-row">
					<img src={emily.src} alt="emily" width="374" height="900">
					<img src={jecka.src} alt="jecka" width="374" height="900">
				</div>
				<p>
					Parler Anglais?  <a href="https://merrycorps.xyz">Cliquez ici!</a>
				</p>

		</section>
	</main>


<style>
 body {background-color: #000000; color: #FFFFFF;}
.image-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
h2 {
  text-align: center;
}
pre {
  text-align: center;
}
p {
  text-align: center;
}
</style>
