---
import emily from '../assets/emily.png';
import jecka from '../assets/jecka.png';
---

<title>Merry Corps</title>
<meta charset="UTF-8" />
<div id="container">
	<main>
		<section id="yes">
			<h1>
				Welcome to Merry Corps!!!!
			</h1>
			<pre> founded by Merry Danzig </pre>
			<h2> What is this site? </h2>
			<h4>
Merry Corps is the company behind the upcoming Litana project.<br> We are very slow at making updates so I would not expect much.
<br>Any inquires or issues with the site? You can contact us <a href="/support-en">here</a>.
			</h4>
				<div class="image-row">
					<img src={emily.src} alt="emily" width="374" height="900">
					<img src={jecka.src} alt="jecka" width="332" height="900">
				</div>
				<p>
					Parler Français? <a href="/accueil">Cliquez ici!</a>
				</p>

		</section>
	</main>


<style>
 body {background-color: #000000; color: #FFFFFF;}
.image-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
h1 {
  text-align: center;
}
h4 {
  text-align: center;
}
h2 {
  text-align: center;
}
pre {
  text-align: center;
}
p {
  text-align: center;
}
</style>
